.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    padding: 1rem;
}

.navbar-home {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    border: 1px solid var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.navbar-home.active {
    background-color: var(--text-color);
    color: var(--background-color);
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-center .nav-links li {
    margin-right: 1rem;
}

.navbar-center .nav-links a {
    color: var(--text-color);
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .user-icon {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
}